<navi>
    <div class="logo">
        <h1>My Coding Chronicles</h1>

    </div>
    <ul class="nav-links">
        <a href="/">
            <li>BLOG</li>
        </a>
        <a href="/write">
            <li>WRITE</li>
        </a>
        <a href="/contact">
            <li>CONTACT</li>
        </a>


    </ul>
</navi>